<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form method="POST" enctype="multipart/form-data" action="{% url 'post' %}">
            {% csrf_token %}
            <input type="text" value="caption" id="caption" name="caption">
            <input type="file" value="file" id="file" name="file[]">
            <input type="hidden" name="url" id="url">
            <button type="button" onclick="uploadimage()">upload image</button>
            <button type="submit">Upload</button>
        </form>
        
    </body>
    <script>
// Set the configuration for your app
// TODO: Replace with your app's config object
var firebaseConfig = {
    apiKey: "AIzaSyDd738Oycvch0gXs8rw7K-i31fOg_xJLdQ",
    authDomain: "social-media-3df5c.firebaseapp.com",
    projectId: "social-media-3df5c",
    storageBucket: "social-media-3df5c.appspot.com",
    messagingSenderId: "150668275038",
    appId: "1:150668275038:web:489d68701f9caf6c8c33cf",
    measurementId: "G-YJ0J37234B",
    databaseURL: "https://console.firebase.google.com/u/0/project/social-media-3df5c/database/social-media-3df5c-default-rtdb/data/~2F"
};
firebase.initializeApp(firebaseConfig);


// Get a reference to the storage service, which is used to create references in your storage bucket
function uploadimage(){
var storage = firebase.storage();
var files = document.getElementById("file").file[0];
var storageRef = storage.ref();
var thisref = storageRef.child(files.name).put(files);
thisref.on('state_changed'function(snapshot){
    console.log("file uploaded successfully");
},
function(error){

},
function(){
    var downloadURL=thisref.snapshot.downloadURL;
    console.log("got url");
    alert("file uploaded successfully");
}
});
</script>
</html>